In [1]:
import numpy as np
import pandas as pd

In [2]:
score1 = 'ImageNet16-120/snip/ImageNet16-120-snip_7500.csv'
score2 = 'ImageNet16-120/snip/ImageNet16-120-snip_end.csv'

In [3]:
df1 = pd.read_csv(score1, index_col=0)
df2 = pd.read_csv(score2, index_col=0)

In [5]:
df2

             score      time
uid
7500     84.788071  0.197807
7501      0.000000  0.102253
7502     17.942078  0.183822
7503      5.637149  0.188515
7504     95.645706  0.145467
...            ...       ...
15620     5.862645  0.061639
15621    14.658931  0.125604
15622   220.529907  0.134255
15623     4.914482  0.064551
15624  1267.559937  0.130813

[8125 rows x 2 columns]

In [6]:
scores = pd.concat([df1,df2])

In [7]:
scores = scores.rename(columns={"score": "snip"})
scores

              snip      time
uid
0         5.099155  0.123597
1        23.622377  0.151921
2         8.552412  0.143744
3         5.862645  0.082297
4         3.596310  0.120308
...            ...       ...
15620     5.862645  0.061639
15621    14.658931  0.125604
15622   220.529907  0.134255
15623     4.914482  0.064551
15624  1267.559937  0.130813

[15625 rows x 2 columns]

In [8]:
scores.to_csv("ImageNet16-120/snip/ImageNet16-120-snip.csv")

In [35]:
hook_logdet = pd.read_csv('cifar10/hook_logdet/cifar10-hook_logdet.csv', index_col=0)
snip = pd.read_csv('cifar10/snip/cifar10-snip.csv', index_col=0)
synflow = pd.read_csv('cifar10/synflow/cifar10-synflow.csv', index_col=0)

In [38]:
print(hook_logdet)
print(snip)
print(synflow)

             score      time
uid
0      1548.913915  0.090624
1      1639.584643  0.111731
2      1532.348715  0.093855
3      1314.241090  0.047676
4      1575.582253  0.099478
...            ...       ...
15620  1314.241090  0.041360
15621  1627.047979  0.112576
15622  1694.421808  0.133822
15623  1248.401354  0.044228
15624  1697.727074  0.141401

[15625 rows x 2 columns]
             snip      time
uid
0        3.678933  0.138187
1       16.400244  0.157618
2        6.685623  0.115558
3        4.511635  0.054050
4        2.269407  0.092537
...           ...       ...
15620    4.511635  0.073583
15621   11.092735  0.189994
15622  126.082687  0.184772
15623    3.918983  0.063400
15624  606.995789  0.212141

[15625 rows x 2 columns]
            synflow      time
uid
0      1.395120e+20  0.143815
1      1.017986e+36  0.225835
2      6.162668e+25  0.117440
3      2.377096e+06  0.051628
4      5.957027e+23  0.103041
...             ...       ...
15620  2.377096e+06  0.056530
15621  4.614123e+15  0.199522
15622  1.241508e+33  0.249983
15623  8.103119e+10  0.048501
15624  3.793663e+29  0.176804

[15625 rows x 2 columns]

In [39]:
time_hook = np.sum(hook_logdet['time'])
time_hook

1548.2298967838287

In [40]:
time_snip = np.sum(snip['time'])
time_snip

1932.1905317306519

In [41]:
time_synflow = np.sum(synflow['time'])
time_synflow

1995.3086326122284